# Python cache and compiled files
__pycache__/
*.pyc

# Databases
*.db
*.sqlite3
*.sql
# someone has a mysql cnf here apparently
*.cnf

# Swap and save file for editors
*.swp
*.kate-swp
*.save

# Local settings
closedverse/settings.py

# Migrations
closedverse_main/migrations

# Media contents
media/*
!media/.keep

# collectstatic output
static/admin/*
static/admin

# Just in case
.DS_Store


#My
closedverse todo
closedverse todo (copy 1)
closedverse_main/models_new.py
db-dot.pdf
db-osage.pdf
sqleton
