# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
pip-log.txt
pip-delete-this-directory.txt

# My
closedverse/settings.py
# I might remove this one
closedverse/urls.py
# //
settings.py
media
closedverse_main/media
closedverse/media
*.pyc
*.db3
*.db
*.log
*.sql
local_settings.py
.DS_Store
.python-version
closederse_main/migrations-old
migrations-old
gitignore-this
