{% load closedverse_user %}{% load closedverse_tags %}<div class="list follow-list">
  <ul class="list-content-with-icon-and-text arrow-list" id="user-man-list" data-next-page-url="{% if next %}?offset={{ next }}{% endif %}">
  {% for user in users %}
  <li class="trigger" data-href="{% url "main:user-view" user.username %}" data-action="{% url "main:user-manager" user.unique_id %}">
    {% user_icon_container user 0 False %}

	<div class="toggle-button">
      		<button type="button" class="button user-manage symbol">Manage</button>
	</div>

  <div class="body">
    <p class="title">
      <span class="nick-name"><a href="{% url "main:user-view" user.username %}">{{ user.nickname }}</a></span>
      <span class="id-name">{{ user.username }}</span>
    </p>
    <p class="text">{{ user.profile.comment }}</p>

  </div>
</li>
  {% endfor %}
  </ul>
</div>
<div id="user-man-template" class="dialog none" data-is-template="1">
<div class="dialog-inner">
  <div class="window">
    <h1 class="window-title">Manage %</h1>
    <div class="window-body">
		<div class="user-info"></div>
      <p class="description">
          You are about to report a post with content which violates the Miiverse Code of Conduct. This report will be sent to Nintendo&#39;s Miiverse administrators and not to the creator of the post.      </p>
      <form method="post" action="/posts/AYMHAAADAAADV44dlOCufQ/violations">
        
        <p class="select-button-label">Violation Type: </p>
        <textarea name="body" class="textarea" maxlength="100" data-placeholder="Enter a reason for the report."></textarea>
        <p class="post-id">Post ID: 3DB-NBL7-DPU-2NL8-APF-GDUY</p>
        <div class="form-buttons">
          <input type="button" class="olv-modal-close-button gray-button" value="Cancel">
          <input type="submit" class="post-button black-button" value="Submit Report">
        </div>
      </form>
    </div>
  </div>
</div>
</div>

