{% extends "closedverse_main/layout.html" %}
{% block main-body %}{% load closedverse_user %}{% load closedverse_tags %}
{% user_sidebar request user user.profile 0 True %}
<div class="main-column"><div class="post-list-outline">
<h2 class="label">{{ title }}</h2>
<div class="setting-form">
<ul class="settings-list">
      <li class="setting-pruge1">
        <p class="settings-label">Purge ALL yeahs + yeah notifications by a user (permanent)</p>
		<form>
			<div class="center center-input">
				<input type="hidden" name="action" value="purge1">
				<input type="text" name="username" maxlength="32" placeholder="Username" value="">
			</div>
			<button class="button" onclick="event.preventDefault()">Do it</button>
		</form>
      </li>
      <li class="setting-pruge2">
        <p class="settings-label">Purge ALL posts + comments by a user (recoverable)</p>
		<form>
			<div class="center center-input">
				<input type="hidden" name="action" value="purge2">
				<input type="text" name="username" maxlength="32" placeholder="Username" value="">
			</div>
			<button class="button" onclick="event.preventDefault()">Do it</button>
		</form>
      </li>


</ul></div></div></div>
<!-- Script at the end to make this load -->
<script>

$('li.setting-pruge1 > form > button').click(function() {
	if(confirm("Really? This is PERMANENT!!!!!!!!")) {
		Olv.Form.post(location.href, $('li.setting-pruge1 > form').serializeArray()).done(function(response) {
			Olv.showMessage('', response);
		});
	}
});
$('li.setting-pruge2 > form > button').click(function() {
	if(confirm("Really? This is recoverable.")) {
		Olv.Form.post(location.href, $('li.setting-pruge2 > form').serializeArray()).done(function(response) {
			Olv.showMessage('', response);
		});
	}
});

</script>
{% endblock %}