{% load closedverse_community %}<form id="reply-form" class="for-identified-user" method="post" action="{% url "main:post-comments" post.id %}">
  {% csrf_token %}

  	{% if not user.limit_remaining is False %}
		<div class="post-count-container">
			<span>Remaining posts for today</span>
			<span class="remaining-today-post-count">{{ user.limit_remaining }}</span>
		</div>
	{% endif %}
  
  {% feeling_selector %}

  	<div class="textarea-with-menu active-text">
		<menu class="textarea-menu">
			<li><label class="textarea-menu-text">
				<input type="radio" name="_post_type" value="body">
			</label></li>
			<li><label class="textarea-menu-memo">
			<input type="radio" name="_post_type" value="painting">
			</label></li>
		</menu>
	  <div class="textarea-container">
		  <textarea name="body" class="textarea-text textarea" maxlength="2200" placeholder="Add a comment here." data-required></textarea>
	  </div>
	    <div class="textarea-memo none">
			
		</div>
  {% memo_drawboard %}

  </div>
	  {% if user.has_freedom %}
  	  {% file_button %}
	  {% endif %}

  <div class="post-form-footer-options">
    <div class="post-form-footer-option-inner post-form-spoiler">
      <label class="spoiler-button symbol">
        <input type="checkbox" id="is_spoiler" name="is_spoiler" value="1">
        Spoilers
      </label>
    </div>
  </div>


  <div class="form-buttons">
    <input type="submit" class="black-button reply-button disabled" value="Send" data-community-id="{{ post.community.unique_id }}" data-url-id="{{ post.id }}" data-post-content-type="text" data-post-with-screenshot="nodata" disabled="">
  </div>
</form>