{% load closedverse_community %}<form id="reply-form" method="post" action="{% url "main:post-comments" post.id %}">
  {% csrf_token %}

  {% feeling_selector %}

  <div class="textarea-container">
      <textarea name="body" class="textarea-text textarea" maxlength="2200" placeholder="Add a comment here." data-required></textarea>
  </div>

  <div class="post-form-footer-options">
    <div class="post-form-footer-option-inner post-form-spoiler">
      <label class="spoiler-button symbol">
        <input type="checkbox" id="is_spoiler" name="is_spoiler" value="1">
        Spoilers
      </label>
    </div>
  </div>

  <div class="form-buttons">
    <input type="submit" class="black-button reply-button disabled" value="Send" data-community-id="{{ post.community.unique_id }}" data-url-id="{{ post.id }}" data-post-content-type="text" data-post-with-screenshot="nodata" disabled="">
  </div>
</form>