    <div id="memo-drawboard-page" class="dialog none">
	<div class="dialog-inner">
	  <div class="window">
		<h1 class="window-title">Drawing</h1>
		<div class="window-body">
      <div class="memo-buttons">
      <button type="button" class="artwork-clear"></button>
      <button type="button" class="artwork-undo"></button>
      <button type="button" class="artwork-pencil small selected"></button>
      <button type="button" class="artwork-eraser small"></button>
      <button type="button" class="artwork-fill"></button>
      <input type="text" class="artwork-color">
      <button type="button" class="artwork-zoom"></button>
      </div>
      <div class="memo-canvas">
	  <canvas id="artwork-canvas" zoom="2"></canvas>
      <canvas id="artwork-canvas-undo"></canvas>
      <canvas id="artwork-canvas-redo"></canvas>
			<input type="hidden" name="painting" value="">
			</div>
			<div class="form-buttons">
				<input class="olv-modal-close-button black-button memo-finish-btn" type="button" value="Finish">
				<button type="button" class="artwork-lock none"></button>
			  </div>
		</div>
	  </div>
	</div>
</div>