  <div id="memo-drawboard-page" class="dialog none">
	<div class="dialog-inner">
	  <div class="window">
		<h1 class="window-title">Drawing</h1>
		<div class="window-body">
			<div class="memo-canvas">
			Drawings are currently in beta and work only on PC.<br>
			Pencil:
			<button type="button" id="setpen1">Small</button> 
			<button type="button" id="setpen2">Medium</button> <button type="button" id="setpen3">Large</button><br>
			Eraser:
			<button type="button" id="seter1">Small</button> 
			<button type="button" id="seter2">Medium</button> 
			<button type="button" id="seter3">Large</button><br>
			<button type="button" id="clear-can">Clear</button> <br>
			<canvas id="can" width="320" height="120" style="background:white;border:1px solid #0080ff;user-select:none;"></canvas><br>
			<input type="hidden" name="painting" value="">
			</div>
			<div class="form-buttons">
				<input class="olv-modal-close-button black-button memo-finish-btn" type="button" value="Finish">
			  </div>
		</div>
	  </div>
	</div>
</div>