{% load closedverse_community %}<form id="post-form" method="post" action="{% url "main:messages-view" friend.username %}" class="folded">
	{% csrf_token %}

    {% feeling_selector %}
	<div class="textarea-with-menu active-text">
		<menu class="textarea-menu">
			<li><label class="textarea-menu-text">
				<input type="radio" name="_post_type" value="body">
			</label></li>
			<li><label class="textarea-menu-memo">
			<input type="radio" name="_post_type" value="painting">
			</label></li>
		</menu>
  <div class="textarea-container">
    <textarea name="body" class="textarea-text textarea " maxlength="12000" placeholder="Write a message here." data-open-folded-form="" data-required=""></textarea>
  </div>
  <div class="textarea-memo none">
	
  </div>
  {% memo_drawboard %}
  
	</div>
  {% if user.has_freedom %}
  {% file_button %}
  {% endif %}

  <div class="post-form-footer-options">

  </div>


  <div class="form-buttons">
    <input type="submit" class="black-button post-button disabled" value="Send" data-post-content-type="text" disabled="">
  </div>
</form>