{% load markdown_deux_tags %}{% load closedverse_tags %}      <div class="post scroll {% if message.mine %}my{% else %}other{% endif %}" id="{{ message.unique_id }}">
        {% user_icon_container message.creator message.feeling %}
		<p class="timestamp-container">
          <span class="timestamp">{% time message.created %}</span>
		  <button type="button" class="symbol button edit-button rm-post-button" data-action="{% url "main:message-delete" message.unique_id %}"><span class="symbol-label">Delete</span></button>
        </p>
        <div class="post-body">
		  {% if message.drawing %}
		  <p class="post-content-memo"><img src="{{ message.drawing }}"></p>
		  {% else %}
          <div class="post-content-text">{{ message.body|markdown }}</div>
		  {% endif %}
		  {% if message.screenshot %}
		  <div class="screenshot-container still-image"><img src="{{ message.screenshot }}"></div>
		  {% endif %}
        </div>
      </div>