{% load closedverse_tags %}<div id="sidebar" class="user-sidebar">
  <div class="sidebar-container">
      
    <div id="sidebar-profile-body">
      <div class="icon-container {% user_class user %}">
        <a href="{% url "main:user-view" user.username %}">
          <img src="{% avatar user.avatar %}" alt="{{ user.nickname }}" class="icon">
        </a>
      </div>
      {% if user.get_class.1 %}<p class="user-organization">{% user_level user %}</p>{% endif %}
	  
      <a href="{% url "main:user-view" user.username %}" class="nick-name">{{ user.nickname }}</a>
      <p class="id-name">{{ user.username }}</p>
    </div>
{% if request.user.is_authenticated and not user.is_me %}
      <div class="user-action-content">
<div class="toggle-button">
    <button type="button" data-action="{% url "main:user-follow" user.username %}" class="follow-button button symbol{% if user.is_following %} none{% endif %}">Follow</button>
    <button type="button" data-action="{% url "main:user-unfollow" user.username %}" class="unfollow-button button symbol{% if not user.is_following %} none{% endif %}" data-screen-name="{{ user.nickname }}">Follow</button>
</div>

      </div>
		{% elif user.is_me %}
		<div id="edit-profile-settings"><a class="button symbol" href="{% url "main:profile-settings" %}">Profile Settings</a></div>
		{% endif %}

    <ul id="sidebar-profile-status">
      <li><a href="" class="{% if selection == 3 %}selected{% endif %}"><span><span class="number test-friend-count">Nil</span>Friends</span></a></li>
      <li><a href="{% url "main:user-following" user.username %}" class="{% if selection == 4 %}selected{% endif %}"><span><span class="number test-following-count">{{ user.num_following }}</span>Following</span></a></li>
      <li><a href="{% url "main:user-followers" user.username %}" class="{% if selection == 5 %}selected{% endif %}"><span><span class="number test-follower-count">{{ user.num_followers }}</span>Followers</span></a></li>
    </ul>
  </div>
  <div class="sidebar-setting sidebar-container">
    <div class="sidebar-post-menu">
      <a href="{% url "main:user-posts" user.username %}" class="sidebar-menu-post with-count symbol{% if selection == 1 %} selected{% endif %}">
        <span>{% if user.is_me %}My{% else %}All{% endif %} posts</span>
        <span class="post-count">
          <span class="test-post-count">{{ user.num_posts }}</span>
        </span>
      </a>
      <a href="{% url "main:user-yeahs" user.username %}" class="sidebar-menu-empathies with-count symbol{% if selection == 2 %} selected{% endif %}">
        <span>Yeahs given</span>
        <span class="post-count">
          <span class="test-empathy-count">{{ user.num_yeahs }}</span>
        </span>
      </a>
    </div>
  </div>
  <div class="sidebar-container sidebar-profile">
	{% if profile.comment %}
      <div class="profile-comment">
        <p class="js-truncated-text">{{ profile.comment|truncatechars:100|linebreaksbr }}</p>
		{% if profile.comment|length > 99 %}
          <p class="js-full-text none">{{ profile.comment|linebreaksbr }}</p>
          <button type="button" class="description-more-button js-open-truncated-text-button">Show more</button>
		{% endif %}
      </div>
    {% endif %}
	<div class="user-data">
		<div class="data-content">
			<h4><span>Region</span></h4>
			<div class="note">
				<span>{% if profile.country %}{{ profile.country }}{% else %}Not Set{% endif %}</span>
			</div>
		</div>
		<div class="data-content">
			<h4><span>NNID</span></h4>
			<div class="note">
				<span>{% if profile.origin_id %}<a href="https://miiverse.nintendo.net/users/{{ profile.origin_id }}">{{ profile.origin_id }}</a>{% elif profile.origin_id == 0 %}Private{% else %}None{% endif %}</span>
			</div>
		</div>
		<div class="data-content">
			<h4><span>User ID</span></h4>
			<div class="note">
				<span>#{{ user.id }}</span>
			</div>
		</div>
		<div class="data-content">
			<h4><span>Date joined</span></h4>
			<div class="note">
				<span>{% time user.created True %}</span>
			</div>
		</div>
		<div class="favorite-game-genre">
			<h4><span>Web URL</span></h4>
			<div class="note">
				<span>{% if profile.weblink %}<a class="link-confirm" href="{{ profile.weblink }}">{{ profile.weblink }}</a>{% else %}Not Set{% endif %}</span>
			</div>
		</div>
	</div>
  </div>

    
</div>
