{% extends "closedverse_main/layout.html" %}
{% load static %}{% load closedverse_tags %}{% load closedverse_user %}
{% block main-body %}
{% user_sidebar request user user.profile 0 True %}
<div class="main-column"><div class="post-list-outline">
  <h2 class="label">Search Communities</h2>
  <form class="search user-search" action="{% url "main:community-search" %}">
  <input type="text" name="query" value="{{ query }}" placeholder="Mario, etc." minlength="1" maxlength="16">
	<input type="submit" value="q" title="Search">
  </form>
  {% if communities %}
  <div class="search-content">
      <p class="user-found note">{{ communities|length }} result{% if not communities|length == 1 %}s{% endif %} found for "{{ query }}"</p>
<ul class="list community-list community-card-list">
{% for community in communities %}
<li id="{{ community }}" class="trigger test-community-list-item " data-href="{% url "main:community-view" community.id %}" tabindex="0">
	{% if community.banner %}
		<img src="{{ community.banner }}" class="community-list-cover">
	{% endif %}
  <div class="community-list-body">
  <span class="icon-container"><img src="{{ community.icon }}" class="icon"></span>
  <div class="body">
      <a class="title" href="{% url "main:community-view" community.id %}" tabindex="-1">{{ community.name }}</a>
      
        				<span class="platform-tag">
				{% if community.type_platform %}{% load static %}	<img src="{% static community.type_platform %}">{% endif %}
				</span>
				<span class="text">{{ community.type_txt }}</span>
  </div>
  </div>
</li>
{% endfor %}
      </ul>
  </div>
  {% else %}
  <div class="no-content search-content">
    <div class="search-content no-title-content">
      <p>"{{ query }}" could not be found.<br>
Try searching for something different.</p>
    </div>
  </div>
  {% endif %}
</div></div>
{% endblock %}