{% extends "closedverse_main/layout.html" %}
{% load closedverse_tags %}{% load closedverse_community %}{% block main-body %}
<div class="community-main">
		<div id="community-eyecatch"></div>
	</div>
	<div class="community-top-sidebar">
		<!--<form action="/titles/search" class="search">
			<input maxlength="32" name="query" placeholder="Search Communities" type="text"><input title="Search" type="submit" value="q">
		</form>
		<div id="identified-user-banner">
			<a class="list-button" href="/identified_user_posts"><span class="title">Get the latest news here!</span><span class="text">Posts from Verified Users</span></a>
		</div>-->
		{% if settings.memo_title and settings.memo_msg %}
		<div class="post-list-outline index-memo">
			<h2 class="label">{{ settings.memo_title }}</h2>
			{% autoescape off %}{{ settings.memo_msg }}{% endautoescape %}
		</div>
		{% endif %}
	</div>
	<div class="community-main">
		{% if feature %}
			{% community_page_element feature "Featured Communities" True %}
		{% endif %}
			{% community_page_element general "General Communities" %}
			{% community_page_element game "Game Communities" %}
			{% community_page_element special "Special Communities" %}
	</div>
	<div id="community-guide-footer">
		<div id="guide-menu">
			<a class="arrow-button" href="{% url "main:help-rules" %}"><span>Closedverse Rules</span></a>
			<a class="arrow-button" href="{% url "main:help-faq" %}"><span>Frequently Asked Questions (FAQ)</span></a>
			{% if settings.PROD %}
			<a class="arrow-button" href="{% url "main:help-legal" %}"><span>Legal information</span></a>
			<a class="arrow-button" href="{% url "main:help-contact" %}"><span>Contact information</span></a>
			{% endif %}
			<a class="arrow-button" href="https://www.pf2m.com/openverse/"><span>Info about Openverse</span></a>
		</div>
	</div>
{% endblock %}