{% load static %}{% load closedverse_tags %}{% block html %}{% if not request.META.HTTP_X_PJAX %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	{% endif %}
    <title>{% if title %}{{ title }} - Closedverse{% else %}Closedverse{% endif %}</title>
    {% if not request.META.HTTP_X_PJAX %}
	<meta http-equiv="content-style-type" content="text/css">
    <meta http-equiv="content-script-type" content="text/javascript">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-title" content="Closedverse">
    <meta name="description" content="Openverse is a social network: designed by PF2M, programmed by Arian Kordi. With Miiverse DNA, style and familiar assets such as Miiverse's interface and Miis, you're sure to have fun here!">
	<meta property="og:locale" content="en_US">
	{% if ogdata %}
		<meta property="og:title" content="{{ ogdata.title }} - Closedverse">
		<meta property="og:type" content="article">
		<meta property="og:url" content="{{ request.build_absolute_uri }}">
		<meta property="og:description" content="{{ ogdata.description|truncatechars:150 }}">
		<meta property="og:title" content="{{ ogdata.title }} - Closedverse">
		<meta property="og:site_name" content="Closedverse">
		<meta property="article:published_time" content="{{ ogdata.date }}">
	{% endif %}
	<link rel="shortcut icon" type="image/png" href="{% static "img/favicon.png" %}">
    <link rel="stylesheet" type="text/css" href="{% static "closedverse.css" %}">
	<link id="darkness" {% if request.session.lights %}disabled {% endif %}rel="stylesheet" type="text/css" href="{% static "blueness.css" %}">
    <script src="{% static "jslibs.js" %}"></script>
    <script src="{% static "closedverse.js" %}"></script>
  </head>

  <body class=""{% if request.user.is_authenticated %}
  sess-usern="{{ request.user.username }}"
  {% endif %}>
    <div id="wrapper"{% if not request.user.is_authenticated %} class="guest"{% endif %}>
      <div id="sub-body">
        <menu id="global-menu">
          <li id="global-menu-logo"><h1><a href="/"><img src="{% static "img/menu-logo.png" %}" alt="Closedverse"></a></h1></li>
		  {% if request.user.unique_id %}
          <li id="global-menu-list">
            <ul>
              <li id="global-menu-mymenu"><a href="{% url "main:user-view" request.user.username %}"><span class="icon-container {% user_class request.user %}"><img src="{% avatar request.user %}" alt="User Page"></span><span>User Page</span></a></li>
			  <li id="global-menu-feed"><a href="{% url "main:activity" %}" class="symbol"><span>Activity Feed</span></a></li>
              <li id="global-menu-community"><a href="/" class="symbol"><span>Communities</span></a></li>
			  <li id="global-menu-message"><a href="{% url "main:messages" %}" class="symbol"><span>Messages</span></a></li>
			  <li id="global-menu-news"><a href="{% url "main:notifications" %}" class="symbol"></a></li>
              <li id="global-menu-my-menu"><button class="symbol js-open-global-my-menu open-global-my-menu"></button>
                <menu id="global-my-menu" class="invisible none">
                  <li><a href="{% url "main:profile-settings" %}" class="symbol my-menu-profile-setting"><span>Profile settings</span></a></li>
                  <li><a href="#" class="symbol my-menu-account-setting"><span>Account preferences</span></a></li>
                  <li><a href="{% url "main:special-community-tag" "announcements" %}" class="symbol my-menu-openman"><span>Closedverse Announcements</span></a></li>
                  <li><a href="{% url "main:special-community-tag" "changelog" %}" class="symbol my-menu-openman"><span>Closedverse Changelog</span></a></li>
                  <li><a href="{% url "main:help-faq" %}" class="symbol my-menu-guide"><span>Frequently Asked Questions (FAQ)</span></a></li>
				  <li><a href="{% url "main:help-rules" %}" class="symbol my-menu-guide"><span>Closedverse Rules</span></a></li>
                  <li><a href="#" class="symbol my-menu-white-power"><span>Feedback/bug report</span></a></li>
                  <li><a href="{% url "main:server-stat" %}" class="symbol my-menu-openman"><span>Server Statistics</span></a></li>
				  <li>
                    <form action="{% url "main:logout" %}" method="post" id="my-menu-logout" class="symbol">
                      {% csrf_token %}
                      <input type="submit" value="Log out">
                    </form>
                  </li>
                </menu>
              </li>
            </ul>
          </li>
		  {% else %}
		  <li id="global-menu-login">
            <a href="{% url "main:login" %}" class="login">
              <input type="image" alt="Sign in" src="{% static "img/sign-in.png" %}">
            </a>
          </li>
		  {% endif %}
        </menu>
      </div>
	  <div id="container">
	  {% endif %}
      <div id="main-body" 
    class="{% if classes %}{{ classes|join:" " }} {% endif %}{% if not request.user.is_authenticated %}
	guest{% endif %}" 
	csrf-token="{{ csrf_token }}">
	  {% block main-body %}
	  {% endblock %}
      </div>
	  {% if not request.META.HTTP_X_PJAX %}
	  </div>
      <div id="footer">
        <div id="footer-inner">
          <div class="link-container">
			<p><a href="/meta/contact">Contact</a></p>
			<p><a href="https://github.com/ariankordi/closedverse">GitHub</a></p>
			<p id="copyright"><a href="https://miiverse.nintendo.net/">Inspired by Hatena Co, Ltd/Nintendo's Miiverse. I don't nor wish to make money from this. Please support them as they deserve your business.</a><br>
			<a href="https://m.do.co/c/c782a72da538"><img src="https://www.digitalocean.com/assets/media/logos-badges/png/DO_Powered_by_Badge_blue-fe4c6688.png" width="150" height="31"></a></p>
			</div>
        </div>
      </div>
    </div>
  </body>
</html>
{% endif %}{% endblock html %}