{% extends "closedverse_main/layout.html" %}
{% load static %}{% block main-body %}
<div class="main-column center">
    <div class="post-list-outline login-page">
        <form method="post">
			<img src="{% static "img/menu-logo.png" %}">
			<p class="lh">Log In</p>
			<p>Sign in with a Closedverse account to create and give Yeahs to posts and comments, edit your profile, and connect with other Closedverse users.</p>
			<h3 class="label"><label>Username: <input type="text" class="auth-input" name="username" maxlength="32" placeholder="Username"></label></h3>
			<h3 class="label"><label>Password: <input type="password" class="auth-input" name="password" maxlength="32" placeholder="Password"></label></h3>
			{% csrf_token %}
			
			<p class="red" style="margin-bottom:6px"></p>
			
			<button type="submit" class="button">Sign In</button>
			
			<!-- remove -->
			<br><p>(TODO: Password reset and URL for it here)</p>
			
			<div class="ll">
				<p>If you don't have an account, <a href="{% url "main:signup" %}">you can sign up here.</a></p>
				<p>If you've forgotten your password, you can <a href="">reset it here.</a></p>
			</div>
		</form>
	</div>
</div>
{% endblock %}