{% extends "closedverse_main/layout.html" %}
{% block main-body %}{% load closedverse_user %}{% load closedverse_tags %}
{% user_sidebar request user profile 0 %}
<div class="main-column"><div class="post-list-outline">
<h2 class="label">{{ title }}</h2>
<form class="setting-form" method="post" action="{% url "main:user-view" user.username %}">
<ul class="settings-list">
      <li class="setting-nickname">
        <p class="settings-label">Nickname</p>
        <div class="center center-input">
			<input type="text" name="screen_name" maxlength="32" placeholder="Nickname" value="{{ user.nickname }}">
		</div>
        <p class="note">Nickname, up to 32 characters.</p>
      </li>
      <li class="setting-profile-comment">
        <p class="settings-label">Profile comment</p>
        <textarea class="textarea" name="profile_comment" maxlength="2200" placeholder="Write about yourself here.">{{ profile.comment }}</textarea>

        <p class="note">Anything you write here will appear on your profile. Remember to keep it brief. Please don't write anything that'll violate <a href="{% url "main:help-rules" %}">Closedverse's rules</a>.</p>
      </li>
	  <!--
      <li>
        <p class="settings-label"><label for="relationship_visibility">Who should be able to see your friends, followers and following lists?</label></p>
        <div class="select-content">
          <div class="select-button">
            <select name="relationship_visibility" id="relationship_visibility">
              <option value="0"{% if profile.relationship_visibility == 0 %} selected{% endif %}>Everyone</option>
              <option value="1"{% if profile.relationship_visibility == 1 %} selected{% endif %}>My friends</option>
              <option value="2"{% if profile.relationship_visibility == 2 %} selected{% endif %}>Only me</option>
            </select>
          </div>
        </div>
      </li>
	  -->
      <li class="setting-country">
        <p class="settings-label">Region</p>
        <div class="center center-input">
			<input type="text" name="country" maxlength="64" placeholder="Region" value="{{ profile.country }}">
		</div>
        <p class="note">Enter your region here. It'll appear on your profile.
		<br>
		<a class="get-ipinfo" href="#">If you want to use your location, you can get it automatically here (it will not be automatically saved).</a>
		</p>
      </li>
      <li class="setting-email">
        <p class="settings-label">E-mail address</p>
        <div class="center center-input">
			<input type="text" name="email" maxlength="255" placeholder="Email address" value="{{ user.email }}">
		</div>
        <p class="note">Please note that your email can be a fake one, however if you need to reset your password, this must be accessible. You can't share emails.</p>
      </li>
      <li class="setting-website">
        <p class="settings-label">Web URL</p>
        <div class="center center-input">
			<input type="text" name="website" maxlength="255" placeholder="URL" value="{{ profile.weblink }}">
		</div>
        <p class="note">If you want to advertise a URL of some sorts on your profile, this is where it goes.</p>
      </li>
      <li class="setting-website">
        <p class="settings-label">DiscordTag</p>
        <div class="center center-input">
			<input type="text" name="external" maxlength="255" placeholder="DiscordTag" value="{{ profile.external }}">
		</div>
        <p class="note">Actually, you don't have to put a DiscordTag here, you can put anything here, such as your PlayStation Network account. Discord sure is popular though.</p>
      </li>
	  	  {% if profile.origin_id %}
      <li>
        <p class="settings-label"><label for="id_visibility">Who should be able to see your Nintendo Network ID? ({{ profile.origin_id }})</label></p>
        <div class="select-content">
          <div class="select-button">
            <select name="id_visibility" id="id_visibility">
              <option value="0"{% if profile.id_visibility == 0 %} selected{% endif %}>Everyone</option>
              <option value="1"{% if profile.id_visibility == 1 %} selected{% endif %}>My friends</option>
              <option value="2"{% if profile.id_visibility == 2 %} selected{% endif %}>Nobody</option>
            </select>
          </div>
        </div>
      </li>
	  {% endif %}
      <li>
        <p class="settings-label"><label for="let_friendrequest">Who should be able to send you friend requests?</label></p>
        <div class="select-content">
          <div class="select-button">
            <select name="let_friendrequest" id="let_friendrequest">
              <option value="0"{% if profile.let_friendrequest == 0 %} selected{% endif %}>Everyone</option>
              <option value="1"{% if profile.let_friendrequest == 1 %} selected{% endif %}>People I'm following</option>
              <option value="2"{% if profile.let_friendrequest == 2 %} selected{% endif %}>Nobody</option>
            </select>
          </div>
        </div>
      </li>
      <li>
        <p class="settings-label"><label for="pronoun_dot_is">What's your preferred pronoun?</label></p>
        <div class="select-content">
          <div class="select-button">
            <select name="pronoun_dot_is" id="pronoun_dot_is">
              <option value="0"{% if profile.pronoun_is == 0 %} selected{% endif %}>I don't know</option>
              <option value="1"{% if profile.pronoun_is == 1 %} selected{% endif %}>He/him</option>
              <option value="2"{% if profile.pronoun_is == 2 %} selected{% endif %}>She/her</option>
			  <option value="3"{% if profile.pronoun_is == 3 %} selected{% endif %}>He/she</option>
			  <option value="4"{% if profile.pronoun_is == 4 %} selected{% endif %}>It</option>
            </select>
          </div>
        </div>
      </li>
      <li>
        <p class="settings-label"><label for="yeahs_visibility">Who should be able to see your Yeahs given?</label></p>
        <div class="select-content">
          <div class="select-button">
            <select name="yeahs_visibility" id="yeahs_visibility">
              <option value="0"{% if profile.yeahs_visibility == 0 %} selected{% endif %}>Everyone</option>
              <option value="1"{% if profile.yeahs_visibility == 1 %} selected{% endif %}>My friends</option>
              <option value="2"{% if profile.yeahs_visibility == 2 %} selected{% endif %}>Nobody</option>
            </select>
          </div>
        </div>
      </li>
      <li>
        <p class="settings-label"><label for="comments_visibility">Who should be able to see your comments made?</label></p>
        <div class="select-content">
          <div class="select-button">
            <select name="comments_visibility" id="comments_visibility">
              <option value="0"{% if profile.comments_visibility == 0 %} selected{% endif %}>Everyone</option>
              <option value="1"{% if profile.comments_visibility == 1 %} selected{% endif %}>My friends</option>
              <option value="2"{% if profile.comments_visibility == 2 %} selected{% endif %}>Nobody</option>
            </select>
          </div>
        </div>
      </li>
		<li class="setting-nnid">
                <p class="settings-label">Nintendo Network ID</p>
                <div class="icon-container">
                    <img class="icon nnid-icon mii" src="{% miionly user.mh %}">
                </div>
                  <input type="text" name="origin_id" minlength="6" maxlength="16" placeholder="Nintendo Network ID{% if not profile.origin_id %} (None){% endif %}" value="{% if profile.origin_id %}{{ profile.origin_id }}{% endif %}" data-action="{% url "main:origin-id-get" %}">
				  <input type="hidden" name="mh" value="{{ user.mh }}">
                <p class="error"></p>
                <p class="note">Enter your Nintendo Network ID here. It'll appear on your profile if you set it to be visible.</p>
              </li>
		{% if not user.has_plain_avatar %}
              <li class="setting-avatar">
                <div class="icon-container">
                    <img class="icon nnid-icon mii{% if not user.has_mh %} none{% endif %}" src="{% miionly user.mh %}">
					<img class="icon nnid-icon gravatar{% if user.has_mh %} none{% endif %}" src="{{ user.gravatar }}">
                  </div>
                <p class="settings-label">Do you want the avatar shown beside your content to use the Mii from your Nintendo Network ID or a Gravatar?</p>
                <label><input type="radio" name="avatar" value="0"{% if user.has_mh %} checked{% endif %}>Mii</label>
                <label><input type="radio" name="avatar" value="1"{% if not user.has_mh %} checked{% endif %}>Gravatar</label>
                <p class="note">Selecting the Gravatar option will cause your avatar to be pulled from the <a href="https://gravatar.com">Gravatar account</a> linked to your email address, and feelings won't be shown in your posts unless you choose to use a Mii instead.</p>
         </li>
		 {% else %}
		 <p class="settings-label">It appears that you somehow have a plain URL avatar, change it here (<strong>if you change it to nothing then it will reset to being selectable !!</strong>)</p>
		 <div class="center center-input">
			<input type="text" name="avatar" maxlength="255" placeholder="Avatar url" value="{{ user.avatar }}">
		</div>
		 {% endif %}

	{% csrf_token %}
	<div class="form-buttons">
	<input type="submit" class="black-button apply-button" value="Save these settings">
	</div>

</ul></form></div></div>
{% endblock %}