{% extends "closedverse_main/layout.html" %}
{% block main-body %}{% load closedverse_user %}
{% user_sidebar request user profile 0 False fr %}
<div class="main-column">
    <div class="post-list-outline">
        <h2 class="label">Recent posts</h2>
		{% if posts.count < 1 %}
        <div class="post-list empty">
            <p>The user hasn't made any posts yet.</p>
        </div>
		{% else %}
		<div class="post-body">
          <div class="list multi-timeline-post-list">
			{% for post in posts %}
			{% profile_post post %}
			{% endfor %}
          </div>
        </div>
		{% endif %}
    </div><a class="big-button" href="{% url "main:user-posts" user.username %}">View posts</a>
	{% if profile.yeahs_visible %}
    <div class="post-list-outline">
        <h2 class="label">Recently yeahed posts</h2>
		{% if yeahed.count < 1 %}
        <div class="post-list empty">
            <p>The user hasn't given a yeah to any posts yet.</p>
        </div>
		{% else %}
		<div class="post-body">
          <div class="list multi-timeline-post-list">
			{% for post in yeahed %}
			{% profile_post post.post %}
			{% endfor %}
          </div>
        </div>
		{% endif %}
    </div><a class="big-button" href="{% url "main:user-yeahs" user.username %}">View all yeahs</a>
	{% endif %}
</div>
{% endblock %}