{% extends "closedverse_main/layout.html" %}
{% block main-body %}{% load closedverse_tags %}{% load closedverse_user %}
{% user_sidebar request user profile 3 %}
<div class="main-column"><div class="post-list-outline">
    <h2 class="label">{{ title }}</h2>

{% if not friends %}
	{% if user.is_me %}
		{% nocontent "You don't have any friends." %}
	{% else %}
		{% nocontent "This user doesn't have any friends added." %}
	{% endif %}
{% else %}
	{% profile_user_list friends next request %}
{% endif %}

</div></div>
{% endblock %}
